* { box-sizing: border-box;
margin: 0;
}

html {
  background-image: url("images/fondo.gif");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  visibility: hidden;
  animation: fondo 100s steps(10) 1 forwards;
}

.pel1 {
  border: white thin solid;
  font-size: 70px;
  color: white;
}

.pel2 {
  border: white thin solid;
  font-size: 70px;
  color: white;
}

.final {
  content: "??????";
  border: white thin solid;
  font-size: 70px;
  color: white;
}

.final:after {
  content:"";
  animation: final 100s steps(1) 1 forwards;
}

.final2 {
  content: "??????";
  border: white thin solid;
  font-size: 70px;
  color: white;
}

.final2:after {
  content:"";
  animation: final2 100s steps(1) 1 forwards;
}

.imagen1 {
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  width: 100px;
  height: 100px;
  animation: x1 100s steps(1) 1 forwards;
}

.imagen2 {
  position: absolute;
  visibility: hidden;
  width: 100px;
  height: 100px;
  animation: x2 100s steps(1) 1 forwards;
}

.imagen3 {
  position: absolute;
  visibility: hidden;
  width: 100px;
  height: 100px;
  animation: x3 100s steps(1) 1 forwards;
}
.pele1 {
  font-family: mk;
  margin-top: 250px;
  margin-left: 200px;
  visibility: hidden;
  position: absolute;
  animation: antifondo 100s steps(1) 1 forwards;
}

.pele2 {
  font-family: mk;
  margin-top: 550px;
  margin-left: 200px;
  visibility: hidden;
  position: absolute;
  animation: antifondo 100s steps(1) 1 forwards;
}

.finale {
  font-family: mk;
  margin-top: 400px;
  margin-left: 1000px;
  visibility: hidden;
  position: absolute;
  animation: antifondo 100s steps(1) 1 forwards;
}

.finale2 {
  font-family: mk;
  margin-top: 472px;
  margin-left: 1000px;
  visibility: hidden;
  position: absolute;
  animation: antifondo 100s steps(1) 1 forwards;
}

@font-face {
 font-family: mk;
 src: url(fonts/MK4.TTF);
 font-weight: bold;
}

.names1 {
  font-size: 30px;
  font-family: mk;
  color: white;
  position: absolute;
  left: 10px;
  animation: inutil 14s steps(1) 1 forwards;
  animation-delay: 12s;
  visibility: hidden;
}

.names2 {
  font-size: 30px;
  font-family: mk;
  color: white;
  position: absolute;
  right: 10px;
  animation: inutil 14s steps(1) 1 forwards;
  animation-delay: 12s;
  visibility: hidden;
}

.names3 {
  font-size: 30px;
  font-family: mk;
  color: white;
  position: absolute;
  left: 10px;
  animation: inutil 13.5s steps(1) 1 forwards;
  animation-delay: 41s;
  visibility: hidden;
}

.names4 {
  font-size: 30px;
  font-family: mk;
  color: white;
  position: absolute;
  right: 10px;
  animation: inutil 13.5s steps(1) 1 forwards;
  animation-delay: 41s;
  visibility: hidden;
}

.names5 {
  font-size: 30px;
  font-family: mk;
  color: white;
  position: absolute;
  left: 10px;
  animation: inutil 16s steps(1) 1 forwards;
  animation-delay: 69s;
  visibility: hidden;
}

.names6 {
  font-size: 30px;
  font-family: mk;
  color: white;
  position: absolute;
  right: 10px;
  animation: inutil 16s steps(1) 1 forwards;
  animation-delay: 69s;
  visibility: hidden;
}

.winner {
  font-size: 60px;
  font-family: mk;
  color: white;
  position: absolute;
  left: 700px;
  margin-top: 50px;
  visibility: hidden;
  animation: fata 1s steps(7) 2 forwards;
  animation-delay: 24s;
}
.winner1 {
  font-size: 60px;
  font-family: mk;
  color: white;
  position: absolute;
  left: 700px;
  margin-top: 50px;
  visibility: hidden;
  animation: fata 1s steps(7) 2 forwards;
  animation-delay: 52.5s;
}

.winner2 {
  font-size: 60px;
  font-family: mk;
  color: white;
  position: absolute;
  left: 700px;
  margin-top: 50px;
  visibility: hidden;
  animation: fata 1s steps(7) 2 forwards;
  animation-delay: 83s;
}

.bowser {
  width: 252px;
  height: 200px;
  float: left;
  margin-top: 743px;
  background-image: url("images/bowser.png");
  animation: lol 2s steps(8) 4 forwards;
  visibility: hidden;
  animation-delay: 12s;
}

.drybowser {
  width: 500px;
  height: 490px;
  float: left;
  margin-top: 450px;
  position: absolute;
  left: 10px;
  background-image: url("images/drybowser.png");
  animation: drybw 6.5s steps(120) 1 forwards;
  animation-delay: 19.5s;
  visibility: hidden;
}

.drybowserrev {
  width: 500px;
  height: 490px;
  float: left;
  margin-top: 450px;
  position: absolute;
  right: 10px;
  background-image: url("images/drybwsrrev.png");
  animation: drybwrev 8s steps(120) 2 forwards;
  animation-delay: 69s;
  visibility: hidden;
}

.rayo {
  width: 1200px;
  position: absolute;
  height: 271px;
  right: 350px;
  margin-top: 630px;
  background-image: url("images/rayo.png");
  animation: rayo 2s steps(16) 1 forwards;
  animation-delay: 80s;
  visibility: hidden;
}


.mario {
  width: 500px;
  height: 520px;
  float: right;
  margin-top: 420px;
  background-image: url("images/mario.png");
  animation: walk 6s steps(103) 1 forwards;
  visibility: hidden;
  animation-delay: 12s;
}

.shulomario {
  width: 200px;
  height: 200px;
  position: absolute;
  float: right;
  margin-top: 710px;
  background-image: url("images/marioshulo.png");
  animation: sm 1.1s steps(4) 4 forwards;
  right: 100px;
  animation-delay: 18.3s;
  visibility: hidden;
}

.sleepmario {
  width: 200px;
  height: 200px;
  position: absolute;
  float: right;
  margin-top: 710px;
  background-image: url("images/sleepingmario.png");
  animation: sleepm 1.17s steps(13) 3 forwards;
  right: 100px;
  animation-delay: 22.5s;
  visibility: hidden;
}

.explosion {
  width: 360px;
  position: absolute;
  height: 351px;
  float: right;
  opacity: 0;
  margin-top: 600px;
  background-image: url("images/explosion.png");
  animation: expl 0.5s steps(8) 1 forwards, starter 0.1s steps(100) 1 forwards;
  animation-delay: 18s;
  right: 30px;
  visibility: hidden;
}

.explosion2 {
  width: 360px;
  position: absolute;
  height: 351px;
  float: right;
  opacity: 0;
  margin-top: 630px;
  background-image: url("images/explosion.png");
  animation: expl 0.5s steps(8) 1 forwards, starter 0.1s steps(100) 1 forwards;
  animation-delay: 20s;
  left: 10px;
  visibility: hidden;
}

.fb {
  width: 256px;
  position: absolute;
  height: 256px;
  float: left;
  margin-top: 670px;
  background-image: url("images/fireball.png");
  animation: fb 1s steps(5) infinite, forwardright 1s steps(100) 1 forwards;
  animation-delay: 17s;
  visibility: hidden;
}

.death {
  width: 767px;
  position: absolute;
  height: 738px;
  left: -100px;
  margin-top: 300px;
  background-image: url("images/death.png");
  animation: death 2s steps(29) 1 forwards, forwardright 2s steps(100) 1 forwards;
  animation-delay: 21s;
  visibility: hidden;
}

.bill {
  width: 340px;
  position: absolute;
  height: 312px;
  right: 200px;
  position: absolute;
  margin-top: 630px;
  background-image: url("images/billbullet.png");
  animation: bill 1s steps(1) infinite, forwardleft 1s steps(100) 1 forwards;
  animation-delay: 19s;
  visibility: hidden;
}

.fata {
  width: 1000px;
  position: absolute;
  height: 200px;
  float: left;
  margin-left: 420px;
  margin-top: 100px;
  background-image: url("images/fatality.png");
  animation: fata 1s steps(7) 3 forwards;
  animation-delay: 23s;
  visibility: hidden;
}

.fata1 {
  width: 1000px;
  position: absolute;
  height: 200px;
  float: left;
  margin-left: 420px;
  margin-top: 100px;
  background-image: url("images/fatality.png");
  animation: fata 1s steps(7) 3 forwards;
  animation-delay: 51.5s;
  visibility: hidden;
}

.fata2 {
  width: 1000px;
  position: absolute;
  height: 200px;
  float: left;
  margin-left: 420px;
  margin-top: 100px;
  background-image: url("images/fatality.png");
  animation: fata 1s steps(7) 3 forwards;
  animation-delay: 82s;
  visibility: hidden;
}

.shadowstill2 {
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 700px;
  position: absolute;
  left: 10px;
  background-image: url("images/shadowstill.png");
  animation: shws 1s steps(8) 3 forwards;
  visibility: hidden;
  animation-delay: 69s;
}

.shadowstil2 {
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 700px;
  position: absolute;
  left: 1200px;
  background-image: url("images/shadowstill.png");
  animation: shws 1s steps(8) 3 forwards;
  visibility: hidden;
  animation-delay: 79s;
}

.shadowrun2 {
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 700px;
  position: absolute;
  left: 10px;
  background-image: url("images/shadowrun.png");
  animation: shwr 1s steps(8) 1 forwards, shwmove 1s steps(100) 1 forwards;
  visibility: hidden;
  animation-delay: 72s;
}

.shadow2 {
  width: 350px;
  height: 350px;
  float: left;
  margin-top: 550px;
  position: absolute;
  left: 1150px;
  background-image: url("images/shadow.png");
  animation: shw 6s steps(92) 1 forwards;
  visibility: hidden;
  animation-delay: 73s;
}

.shadowstill {
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 700px;
  position: absolute;
  left: 10px;
  background-image: url("images/shadowstill.png");
  animation: shws 1s steps(8) 3 forwards;
  visibility: hidden;
  animation-delay: 41s;
}

.shadowstil {
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 700px;
  position: absolute;
  left: 1350px;
  background-image: url("images/shadowstill.png");
  animation: shws 1s steps(8) 3 forwards;
  visibility: hidden;
  animation-delay: 51s;
}

.shadowrun {
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 700px;
  position: absolute;
  left: 10px;
  background-image: url("images/shadowrun.png");
  animation: shwr 1s steps(8) 1 forwards, shwmove 1s steps(100) 1 forwards;
  visibility: hidden;
  animation-delay: 44s;
}

.shadow {
  width: 350px;
  height: 350px;
  float: left;
  margin-top: 550px;
  position: absolute;
  left: 1275px;
  background-image: url("images/shadow.png");
  animation: shw 6s steps(92) 1 forwards;
  visibility: hidden;
  animation-delay: 45s;
}

.villager {
  width: 480px;
  height: 270px;
  float: left;
  margin-top: 600px;
  position: absolute;
  right: 10px;
  background-image: url("images/villager.png");
  animation: vill 2s steps(64) 5 forwards;
  visibility: hidden;
  animation-delay: 41s;
}

.health-bar {
  width: 600px;
  height: 40px;
  padding: 5px;
  background: #ddd;
  border-radius: 5px;
  position: absolute;
  float: left;
  animation: inutil 14s steps(1) 1 forwards;
  animation-delay: 12s;
  visibility: hidden;
}

.bar {
  background: #c54;
  width: 100%;
  height: 30px;
  position: relative;
  animation: vidabowser 11s steps(10) 1 forwards;
  animation-delay: 12s;
}

.health-bar1 {
  width: 600px;
  height: 40px;
  padding: 5px;
  background: #ddd;
  border-radius: 5px;
  position: absolute;
  visibility: hidden;
  right: 10px;
  animation: inutil 14s steps(1) 1 forwards;
  animation-delay: 12s;
}

.bar1 {
  background: #c54;
  width: 100%;
  height: 30px;
  position: relative;
  animation: vidamario 11s steps(10) 1 forwards;
  animation-delay: 12s;
}

.health-bar2 {
  width: 600px;
  height: 40px;
  padding: 5px;
  background: #ddd;
  border-radius: 5px;
  position: absolute;
  left: 10px;
  animation: inutil 13.5s steps(1) 1 forwards;
  animation-delay: 41s;
  visibility: hidden;
}

.bar2 {
  background: #c54;
  width: 100%;
  height: 30px;
  position: relative;
  animation: vidashw 13.5s steps(10) 1 forwards;
  animation-delay: 41s;
}

.health-bar3 {
  width: 600px;
  height: 40px;
  padding: 5px;
  background: #ddd;
  border-radius: 5px;
  position: absolute;
  visibility: hidden;
  right: 10px;
  animation: inutil 13.5s steps(1) 1 forwards;
  animation-delay: 41s;
}

.bar3 {
  background: #c54;
  width: 100%;
  height: 30px;
  position: relative;
  animation: vidavill 13s steps(10) 1 forwards;
  animation-delay: 41s;
}

.health-bar4 {
  width: 600px;
  height: 40px;
  padding: 5px;
  background: #ddd;
  border-radius: 5px;
  position: absolute;
  left: 10px;
  animation: inutil 16s steps(1) 1 forwards;
  animation-delay: 69s;
  visibility: hidden;
}

.bar4 {
  background: #c54;
  width: 100%;
  height: 30px;
  position: relative;
  animation: vidashw2 16s steps(10) 1 forwards;
  animation-delay: 69s;
}

.health-bar5 {
  width: 600px;
  height: 40px;
  padding: 5px;
  background: #ddd;
  border-radius: 5px;
  position: absolute;
  visibility: hidden;
  right: 10px;
  animation: inutil 16s steps(1) 1 forwards;
  animation-delay: 69s;
}

.bar5 {
  background: #c54;
  width: 100%;
  height: 30px;
  position: relative;
  animation: vidabwsr 16s steps(10) 1 forwards;
  animation-delay: 69s;
}

@keyframes shws {
  1% {visibility: visible;}
  99% { visibility: visible;}
  100% { visibility: hidden;
         background-position: -1600px; }
}
@keyframes shwr {
  1% {visibility: visible;}
  99% { visibility: visible;}
  100% { visibility: hidden;
         background-position: -1600px; }
}

@keyframes shw {
  1% {visibility: visible;}
  99% { visibility: visible;}
  100% { visibility: hidden;
         background-position: -32200px; }
}

@keyframes vill {
  1% {visibility: visible;}
  99% { visibility: visible;}
  100% { visibility: hidden;
         background-position: -30720px; }
}

@keyframes walk {
  1% {visibility: visible;}
  99% { visibility: visible;}
  100% { visibility: hidden;
         background-position: -51500px; }
}

@keyframes lol {
  1% { visibility: visible; }
  100% { background-position: -2016px; }
}

@keyframes drybw {
  1% { visibility: visible; }
  99% { visibility: visible;}
  100% { visibility: hidden;
         background-position: -60000px; }
}

@keyframes drybwrev {
  1% { visibility: visible; }
  99% { visibility: visible;}
  100% { visibility: hidden;
         background-position: -60000px; }
}

@keyframes fb {
  1% { visibility: visible; }
  100% { background-position: -1280px; }
}

@keyframes death {
  1% { visibility: visible; }
  100% { background-position: -22243px; }
}

@keyframes bill {
  1% { visibility: visible; }
  100% { background-position: -340px; }
}

@keyframes fata {
  1% { visibility: visible; }
  99% { visibility: visible;}
  100% { visibility: hidden;
        background-position: -7000px; }
}

@keyframes expl {
  1% {visibility: visible;}
  100% { background-position: -2880px; }
}

@keyframes sm {
  1% {visibility: visible; }
  100% { background-position: -800px; }
}

@keyframes sleepm {
  1% {visibility: visible; }
  100% { background-position: -2600px; }
}
@keyframes interval {
  1% { visibility: visible;
       background-color: black; }
  99% { background-color: black;
        visibility: hidden; }
}

@keyframes inutil {
  1% { visibility: visible;}
  99% { visibility: visible;}
  100% { visibility: hidden;}
}

@keyframes fondo {
  0% { background-image: url("images/inteval.jpg"); visibility: visible; }
  11% { background-image: url("images/inteval.jpg"); }
  12% { background-image: url("images/fondo.gif"); }
  25.2% { background-image: url("images/fondo.gif"); }
  27% { background-image: url("images/inteval.jpg"); }
  40% { background-image: url("images/inteval.jpg"); }
  41% { background-image: url("images/fondo3.gif"); }
  53% { background-image: url("images/fondo3.gif"); }
  56% { background-image: url("images/inteval.jpg");}
  69% { background-image: url("images/inteval.jpg");}
  70% { background-image: url("images/fondo2.jpg");}
  85% { background-image: url("images/fondo2.jpg");}
  86% { background-image: url("images/inteval.jpg");}
  100% { background-image: url("images/inteval.jpg");}
}

@keyframes rayo {
  1% {visibility: visible; }
  100% { background-position: -19200px; }
}

@keyframes antifondo {
  0% { visibility: visible; }
  11% { visibility: visible; }
  12% { visibility: hidden; }
  25.2% { visibility: hidden; }
  27% { visibility: visible; }
  40% { visibility: visible; }
  41% { visibility: hidden; }
  53% { visibility: hidden; }
  54.64% { visibility: visible; }
  69% { visibility: visible; }
  70% { visibility: hidden; }
  85% { visibility: hidden; }
  86% { visibility: visible; }
  100% { visibility: visible; }
}

@keyframes x1 {
  0% { visibility: hidden; }
  11% { visibility: hidden; }
  12% { visibility: hidden; }
  25.2% { visibility: hidden; }
  27% { visibility: visible; }
  40% { visibility: visible; }
  41% { visibility: hidden; }
  53% { visibility: hidden; }
  54.64% { visibility: visible; }
  69% { visibility: visible; }
  70% { visibility: hidden; }
  85% { visibility: hidden; }
  86% { visibility: visible; }
  100% { visibility: visible; }
}

@keyframes x2 {
  0% { visibility: hidden; }
  11% { visibility: hidden; }
  12% { visibility: hidden; }
  25.2% { visibility: hidden; }
  27% { visibility: hidden; }
  40% { visibility: hidden; }
  41% { visibility: hidden; }
  53% { visibility: hidden; }
  54.64% { visibility: visible; }
  69% { visibility: visible; }
  70% { visibility: hidden; }
  85% { visibility: hidden; }
  86% { visibility: visible; }
  100% { visibility: visible; }
}

@keyframes x3 {
  0% { visibility: hidden; }
  11% { visibility: hidden; }
  12% { visibility: hidden; }
  25.2% { visibility: hidden; }
  27% { visibility: hidden; }
  40% { visibility: hidden; }
  41% { visibility: hidden; }
  53% { visibility: hidden; }
  54.64% { visibility: hidden; }
  69% { visibility: hidden; }
  70% { visibility: hidden; }
  85% { visibility: hidden; }
  86% { visibility: visible; }
  100% { visibility: visible; }
}

@keyframes final {
  0% { content: "??????"; }
  26% { content: "??????"; }
  27% { content: "bowser"; }
  100% { content: "bowser"; }
}

@keyframes final2 {
  0% { content: "??????"; }
  54% { content: "??????"; }
  54.64% { content: "shadow"; }
  100% { content: "shadow"; }
}

@keyframes vidamario {
  54% { width: 100%; }
  55% { width: 66%; }
  99% { width: 66%; }
  100% { width: 0%; }
}

@keyframes vidashw2 {
  67% { width: 100%; }
  80% { width: 0%; }
  100% { width: 0%; }
}


@keyframes vidabwsr {
  25% { width: 100%; }
  27% { width: 99%; }
  27% { width: 99%; }
  29% { width: 98%; }
  29% { width: 98%; }
  34% { width: 97%; }
  34% { width: 97%; }
  42% { width: 96%; }
  42% { width: 96%; }
  57% { width: 95%; }
  57% { width: 95%; }
  59% { width: 94%; }
  59% { width: 94%; }
  62.5% { width: 93%; }
  100% { width: 93%; }
}

@keyframes vidavill {
  35.8% { width: 100%; }
  40% { width: 85%; }
  44% { width: 85%; }
  45% { width: 75%; }
  49% { width: 75%; }
  50% { width: 65%; }
  59% { width: 65%; }
  60% { width: 45%; }
  69% { width: 45%; }
  70% { width: 25%; }
  71% { width: 25%; }
  72% { width: 10%; }
  73% { width: 10%; }
  74% { width: 0%; }
  100% { width: 0%; }
}

@keyframes vidabowser {
  75% { width: 100%; }
  76% { width: 42%; }
  100% { width: 42%; }
}

@keyframes starter {
  99% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes forwardright {
  99% {opacity: 1; }
  100% { margin-left: 80%;
         opacity: 0; }
}

@keyframes forwardleft {
  99% {opacity: 1; }
  100% { margin-right: 70%;
         opacity: 0; }
}

@keyframes shwmove {
  100% { margin-left: 60%; }
}
